body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.lesson {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
}

.lesson h2 {
    margin-top: 0;
}

.grey-text {
    color: #888;
}


.slika{
    text-align: center;
}

.centered-figure {
    border: 1px solid #ccc;
    padding: 20px;
}
